venv/
**/*.pyc
**/__pycache__
*_initial.py
*_auto_*.py
.csv
db.sqlite3
node_modules
build
static
package-lock.json
./movieinfo/origindata
.idea/
Lib/
Scripts/
pyvenv.cfg
/.ipynb_checkpoints
/__pycache__